/* body{
    background-color: red;
} */

.bg-gray-300{
    background-color: white;
}
img{
    height: 350px;
    width: 500px;
}
.bg-gray-100{
    background-color: rgb(189, 189, 216);
}
.para{
    font-size: 11px;
    color: black;
}
.para1{
    text-align: center;
}
.para3{
    font-size: 15px;
    margin: 32px 0px;
    color: black;
}
.text-gray-500{
   color: black;
}
.logo{
    font-size: 45px;
    margin: 0px 3px;
    
}
/* nav li a{
    padding: 10px 0px;
} */

input{
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(218, 218, 218);
    padding: 10px 15px;
  
}
.btn{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    text-align: center;
}
a{
    color: black;
}